
.header {
    margin-bottom: 25px;
  }
h1{
    color: #fff;
    margin-bottom: 1.5rem;
  }
.edit-button {
    border-color: #00bc77;
    background-color: #00bc77;
    font-weight: bold;
    padding: 10px;
    a{
        margin: 0;
        text-decoration: none;
        color: #fff;
        p{
            margin: 0;
        }
    }
}